.singleChatUser {
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: fit-content;
    padding: 1em 0.5em;
    border-bottom: 1px solid #ccc;
    width: 100%;
    cursor: pointer;
}

.singleChatUser>img {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.chatUserName {
    font-weight: 600;
    opacity: 0.8;
    padding-left: 1em;
    margin: 0em;
}

#lastSeen {
    font-size: 0.7em;
    margin-left: auto;
}