.likeUsersCont{
    width: 425px;
    padding: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.likeUsersCont>img{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    object-fit: cover;
}

.likeUsersCont>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeUsersCont>.likeUsername{
    font-size: 1.2em!important;
}

.likeUsersCont>.seeUser{
    font-size: 0.8em!important;
    color: #212121;
}

@media only screen and (max-width:425px){
    .likeUsersCont{
        width: 100%;
    }
}