.black {
    color: #629894;
}

/* nav>ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
  } */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.navbarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0em 1em !important;
    background-color: #284352;
    color: #e5e6ee;
}

.navbarTop>div {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.navbarTop>div>a{
    color: #e5e6ee!important;
}

.navbarTop div .navIcons {
    color: #629894;
    color: #e5e6ee;
}

.navbarBottom {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.navbarBottom>* {
    flex-grow: 1;
    padding: 0.3em 0.8em 0em 0.8em;
}

.navbarBottom>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    height: 5em;
}

.navIcons {
    font-size: 1.6em;
    align-self: end;
    height: 2.7em !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    flex-grow: 1 !important;
}

.add {
    font-size: 2.8em !important;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.navBar {
    position: sticky !important;
    top: 0px !important;
    z-index: 1000 !important;
}

.active {
    border-bottom: 3px solid #284352;
}

.adminActive {
    border-bottom: 3px solid #fff;
}

@media only screen and (max-width : 350px) {
    .navbarTop>h1 {
        font-size: 1.5em;
    }

    .navbarTop .navIcons{
        font-size: 1.5em;
    }
}

@media only screen and (max-width : 350px) {
    .navbarTop>h1 {
        font-size: 1.2em;
    }

    .navbarTop .navIcons{
        font-size: 1.2em;
    }
}