.chat{
    width: 425px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto!important;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    height: fit-content;
    width: 100%;
    background-color: #284352;
    color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 8px #ccc;
}

.chatScreenImg{
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: 100%;
}

.lastSeen{
    font-size: 0.7em;
}

.headSect{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

#send{
    width: 425px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7em;
    padding: 0.7em 0.5em;
    position: fixed;
    bottom: 0;
    z-index: 10;
    color: #f1f1f1;
    background-color: #284352;
    box-shadow: 0 0 8px #ccc;
}

#send>label{
    display: flex;
    justify-content: start;
    align-items: center;
}

.ChatInputIcon{
    font-size: 1.3em;
    padding-left: 1em;
}

.chatInput{
    background-color: #00000000;
    border: 0;
    color: #f1f1f1;
    flex-grow: 1;
    padding-left: 1.5em;
}

::placeholder{
    color: #c6d2da;
}

.chatButton{
    background-color: #00000000;
    color: #f1f1f1;
    border: 0;
}

.messagesCont{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    padding: 0.5em;
}

@media (max-width:425px){
    .chat{
        width: 100%;
    }
    #send{
        width: 100%;
    }
}