.likeUserContainer{
    padding: 0.5em 0em;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}

.likeUserContainer>h2{
    width: 100%;
    text-align: left;
    padding-left: 1em;
}

.likesList{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.backArrow{
    width: 100%;
    padding: 0.5em;
    display: flex;
}

@media only screen and (max-width:425px){
    .likeUserContainer{
        width: 100%;
    }
}