/* all elements */

* {
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Space Mono", monospace; */
    font-family: "Josefin Sans", sans-serif;
    /* font-weight: normal!important; */
    font-weight: bold!important;
    outline: none!important;
    box-sizing: border-box!important;
    text-decoration: none!important;
    font-style: normal!important;
}


/* body */

body {
    background-color: #15182b!important;
    color: #fff!important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: right; */
    align-items: center;
    row-gap: 2em;
    width: 100vw;
    height: 100vh;
    padding: 2em 1em!important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
a {
    margin: 0px!important;
}


/* drop down */

.drop-down,
.drop-down:hover,
.drop-down:active {
    background-color: #15182b;
    color: #fff;
    border: none;
}

.dropdown-menu.show {
    background-color: #1f273c;
    color: #15182b;
    border: 1px solid #15182b!important;
}

.drop-down-options {
    color: #15182b;
}

.list {
    width: 8em;
    display: inline-block;
    margin-left: 1em!important;
}

a,
.list>a {
    color: #b6d1fd;
    margin: 0.5em 0.3em!important;
}


/* icon */

.icon {
    margin-right: 0.5em!important;
}


/* row */

.r {
    display: flex;
    flex-direction: row;
    padding: 0em!important;
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.rr {
    display: flex;
    flex-direction: row-reverse;
    /* padding: 0.5em!important; */
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.fw {
    flex-wrap: wrap;
}

.jcc {
    justify-content: center;
}

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}


/* column */

.c {
    display: flex;
    flex-direction: column;
    padding: 0em!important;
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.cr {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5em!important;
    gap: 1em;
    width: 100%;
    height: fit-content;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.ais {
    align-items: start;
}

.aie {
    align-items: end;
}

.aiss {
    align-items: self-start;
}

.aise {
    align-items: self-end;
}

.aistr {
    align-items: stretch;
}


/* button */

.button {
    color: #fff;
    background-color: #15182b;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 0.5em!important;
    border: none;
    width: 100%;
    /* margin-top: 1em; */
}

.button:active {
    background-color: #313131;
}


/* text align */

.center {
    width: 100%;
    text-align: center;
    margin: 0px!important;
}

.left {
    width: 100%;
    text-align: left;
}

.right {
    width: 100%;
    text-align: right;
}


/* input */

.input {
    width: 100%;
    height: auto;
    color: #15182b;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.5em!important;
}

::placeholder {
    color: #aaa;
}


/* scrollbar */

::-moz-scrollbar {
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background-color: #15182b;
}

::-moz-scrollbar-track {
    border-radius: 10px;
    background-color: #15182b;
    /* border: 1px solid #fff; */
}

::-moz-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    /* border: 2px solid #15182b; */
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background-color: #15182b;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #15182b;
    /* border: 1px solid #fff; */
}

::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px #212121; */
    border-radius: 10px;
    background-color: #fff;
    /* border: 2px solid #15182b; */
}


/* details tag */

::marker {
    font-size: 0px;
}

details[open] summary {
    margin: none!important;
}

details summary {
    width: 100%;
    text-align: center;
}


/* sweet alert styling */

.swal2-confirm:focus,
.swal2-deny:focus,
.swal2-cancel:focus,
.swal2-input:focus {
    box-shadow: 0 0 4px #15182b !important;
}

.swal2-input {
    border: 0px solid #15182b !important;
}

div:where(.swal2-container) div:where(.swal2-loader) {
    border-color: #15182b #fff!important;
}


/*  */

.login-signup {
    background-color: #1f273c;
    width: fit-content;
    height: fit-content;
    padding: 1.5em!important;
    border-radius: 10px;
    color: #fff;
}

.login-signup a,
.login-signup p {
    color: #fff;
    font-size: 0.8em;
}

.name {
    padding: 0em 2em 1em 2em;
    font-size: 0.8em;
}

.validationMessage {
    display: none;
    color: #e55865;
    width: 100%;
    text-align: center;
}